.header {
  text-align: center;
  padding: 25px;
  border-bottom: 20px;
  background-color: cadetblue;
  width: 100%;
  font-size: 40px;
}

body {
  background-color: dimgrey;
}

p {
  color: rgb(241, 241, 241);
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
