.header {
  text-align: center;
  padding: 25px;
  border-bottom: 20px;
  background-color: cadetblue;
  width: 100%;
  font-size: 40px;
}

.firstBackground {
  background-color: dimgrey;
  padding-bottom: 45%;
}

.firstPtag {
  color: rgb(241, 241, 241);
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.startBtn {
  height: 60%;
  width: 20%;
  margin-left: 38%;
  margin-right: 15%;
  background-color: yellow;
}

h3 {
  text-align: center;
  background-color: dodgerblue;
  width: 50%;
  border-style: ridge;
  border-width: 2px;
}

